{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    "no-console": "warn"
    //   "quotes": [
    //     "error",
    //     "double"
    //   ],
    //   "comma-dangle": [
    //     "error",
    //     "never"
    //   ],
    //   "multiline-ternary": [
    //     "off",
    //     "always"
    //   ]
  }
}